html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Freight Light", sans-serif;
    font-size: 18px;
    line-height:35px;
    font-weight: 400;
    letter-spacing: 0.45px;
    color: #516677;
}
